### Comparison Operators

```python
a = 20
b = 30
print(a > b)
```

1. Assign the variables `a = 20` and `b = 30`
2. Print if `a` is equal to `b`
3. Print if `a` is not equal to `b`
4. Print if `a` is greater than `b`
5. Print if `a` is smaller than `b`
6. Print if `a` is greater than or equal to `b`
7. Print if `a` is smaller than or equal to `b`

In [1]:
# Exercise 1
a = 20
b = 30

In [2]:
# Exercise 2
a == b

False

In [3]:
# Exercise 3
a != b

True

In [4]:
# Exercise 4
a > b

False

In [5]:
# Exercise 5
a < b

True

In [6]:
# Exercise 6
a >= b

False

In [7]:
# Exercise 7
a <= b

True

### If / Else

```python
# Example
if temperature > 85:
    print("It is hot")
else:
    print("It is nice")
```


Exercises:

1. Assign the variable `score = int(input("What was your (percentage) score? "))`. Enter 80 in the prompt when you run the cell.
2. A passing grade is 70% and above. Write a program with a `if` and `else` statement to check if a student has passed. If so, it should print `"Passed"`, else it should print `"Failed"`
3. Write a program that uses if/else statements to convert a percentage score to a letter grade (see the table above). You will need multiple `elif` statements to include all the options. The output should be a print statement:
`Your score of 99 corresponds with the letter grade A`
4. Test if the program works for 95%, 72% and 60%

| Percentage | Letter Grade |
|:----------:|:------------:|
|  90%–100%  |       A      |
|   80%–89%  |       B      |
|   70%–79%  |       C      |
|   60%–69%  |       D      |
|    < 60%   |       F      |

In [8]:
# Exercise 1
score = int(input("What was your (percentage) score? "))

What was your (percentage) score? 95

In [9]:
# Exercise 2
if score >= 70:
    print("Passed")
else:
    print("Failed")

Passed

In [10]:
# Exercise 3
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"
print(f"Your score of {score} corresponds with the letter grade {grade}")

Your score of 95 corresponds with the letter grade A

In [11]:
# Exercise 4
pass

### Logical and membership operators

```python

```

Tickets for the theme park "RollerCoasterLand" normally cost $25. They also have promotions:
- Free for children under 13
- Free for elderly of 65 years and older


Exercise:
1. Use the `input()` function to get the age from the user and save it in a variable
2. Create a program to calculate and print the price of the ticket. 
3. Test your program for various user inputs and check if it works correctly

*Extra challenge*: Add another promotion: 40% discount for "season pass" holders. Use the `input()` function to ask if the user has a season pass and add logic to your program.

In [12]:
# Exercise 1
age = int(input("What is your age? "))

What is your age? 42

In [13]:
# Exercise 2
if age < 13 or age >= 65:
    price = 0
else:
    price = 25

print(f"Your ticket price is ${price}")

Your ticket price is $25

In [14]:
# Exercise 3
pass

In [15]:
# Extra challenge
season_pass = input("Do you have a season pass? [y/n] ")

if season_pass == "y":
    price = price * 0.6
    
print(f"Your ticket price is ${price}")

Do you have a season pass? [y/n] y
Your ticket price is $15.0

### For Loops

```python
# Example
ingredients = ["egg", "bacon", "sausage", "spam"]
for item in ingredients:
    print(item)
```

1. Assign the variable `planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]`
2. Create a for loop to print every planet to the screen (one by one, on seperate lines)
3. We are only interested in *other* planets. So create a for loop again that prints all the planets, except for "Earth" (hint: use a `if` statement and the `continue` statement)

*Extra challenge*: create a loop that prints all the planets, but now with their respective place number in the list. So the expected output is:
```
1 Mercury
2 Venus
3 Earth
...etc
```

In [16]:
# Exercise 1 
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune", "Pluto"]

In [17]:
# Exercise 2
for planet in planets:
    print(planet)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune
Pluto

In [18]:
# Exercise 3
for planet in planets:
    if planet == "Earth":
        continue
    print(planet)

Mercury
Venus
Mars
Jupiter
Saturn
Uranus
Neptune
Pluto

In [19]:
# Extra challenge
n = 1
for planet in planets:
    print(n, planet)
    n = n + 1

1 Mercury
2 Venus
3 Earth
4 Mars
5 Jupiter
6 Saturn
7 Uranus
8 Neptune
9 Pluto

### While Loops

```python
# Example
x = 0
while x < 5:
    print(x)
    x = x + 1
```

Exercise: 
1. Create a `while` loop that prints `even` numbers from 0 to 10 (so 0, 2, 4, 6, etc.)
2. Create a `while` loop that prints `even` numbers to screen, but stops (`breaks`) after 4

In [20]:
# Exercise 1
x = 0
while x < 11:
    print(x)
    x = x + 2

0
2
4
6
8
10

In [21]:
# Exercise 2
x = 0
while True:
    if x > 4:
        break
    print(x)
    x = x + 2

0
2
4

### Range

```python
# Example range
for n in range(5):
    print(n)
```

Exercises: 
1. Create a loop with the `range()` function that prints the numbers from 0 to 10
2. Create a loop with the `range()` function that prints the `even` numbers from 10 to 20

Documentation: https://docs.python.org/3/library/stdtypes.html#range

In [22]:
# Exercise 1
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [23]:
# Exercise 2
for x in range(10, 21, 2):
    print(x)

10
12
14
16
18
20

### Enumerate

```python
# Example
ingredients = ["spam", "bacon", "ham", "eggs"]

for i, item in enumerate(ingredients, start=0):
    print(i, item)
```

Exercises: 
1. Assign the variable `databases = ["MySQL", "PostgreSQL", "MongoDB", "Redis"]`
2. Use the `enumerate()` function to print the databases with their respective position in the list.

```
# Desired output
1 MySQL
2 PostgreSQL
3 MongoDB
4 Redis
```

In [24]:
# Exercise 1
databases = ["MySQL", "PostgreSQL", "MongoDB", "Redis"]

In [25]:
# Exercise 2
for i, db in enumerate(databases, start=1):
    print(i, db)

1 MySQL
2 PostgreSQL
3 MongoDB
4 Redis

### Loop over Dictionaries

```python
# Example
grades = {"French": 75, "English": 95, "Math": 100, "Biology": 80}
for key, value in grades.items():
    print(key, value)
```

Exercise:
1. Assign the variable `person = {"name": "Alice", "age": 42, "email": "alice@wonderland.com", "country": "U.K."}`
2. Create a loop using the `.items()` method to print all the key/value pairs. The output should look as follows:

```
# Desired output
name: Alice
age: 42
email: alice@wonderland.com
country: U.K.
```

*Extra challenge*: Search the internet on how to print the items (justified) with padding, so it looks a little nicer:

```
# Desired output
name      : Alice
age       : 42
email     : alice@wonderland.com
country   : U.K.
```

In [26]:
# Exercise 1
person = {"name": "Alice", "age": 42, "email": "alice@wonderland.com", "country": "U.K."}

In [27]:
# Exercise 2
for k, v, in person.items():
    print(k, ": ", v, sep="")
    print(f"{k}: {v}")  # alternative

name: Alice
name: Alice
age: 42
age: 42
email: alice@wonderland.com
email: alice@wonderland.com
country: U.K.
country: U.K.

In [28]:
# Extra challenge
for k, v, in person.items():
    print(k.ljust(10), ":", v)
    print(f"{k:10} : {v}")  # alternative

name       : Alice
name       : Alice
age        : 42
age        : 42
email      : alice@wonderland.com
email      : alice@wonderland.com
country    : U.K.
country    : U.K.